
html {

}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

* {
    outline: none;
}

.underlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url('static/menphis_3.jpg');
}

.container {
    text-align: center;
}

/*Zoomage*/
.canvas-container {
    position: relative;
    display: inline-block;
    margin: 5px;
}

canvas {
    background-color: #fff;
}

canvas.layer {
    position: absolute;
    top: -3px;
    left: -3px;
    border: solid 3px black;
    background-color: transparent !important;
}

ul.images-container {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    list-style-type: none;
}

.images-container li {
    display: inline;
    list-style: none;
}

.images-container li img {
    height: 90px;
    margin: 2px;
    cursor: pointer;
    border: solid 3px black;
}

.images-container li img:hover {
    border-color: red;
    opacity: 0.95;
}
